{% extends 'front.html.twig'%}
{% block body %}

    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for o in oeuvrearts %}
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{{ path('clientProduct', {'id': o.idoeuvre}) }}"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a href="{{ path('app_add_panier', {'id': o.idoeuvre}) }}"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="{{ asset('Upload/')}}{{ o.image }}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>{{ o.nom }}</h4>
                            <span>{{ o.prix}}</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}